<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Heizung Notdienst ☎ 0159-04355423 ✓faire Preise ✓erfahrung ✓zuverlässigen Kundenservice ✓schnell vor Ort ✓24h Service">
    <meta name="robots" content="index, follow, noodp">
    <meta name="keywords" content="Heizung Notdienst, Heizungsservice 24 stunden, Heizung Notdienst vor Ort">
    <meta name="robots" content="index, follow, noodp">
    <link rel="icon" type="" href="/asset/icon/favicon.png">
    <link rel="stylesheet" href="/asset/css-datei/heizung-defekt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Heizung Notdienst - 24h Service vor Ort</title>
    <meta name="description" content="Sind Sie auf der Suche nach einem Heizung Notdienst in der Nähe?Jetzt anrufen ☎ 0159-04355423 - Profis helfen kompetent und zeitnah">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.heizung-defekt.de/"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134725552-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-134725552-6');
    </script>
</head>

<body class="body_menu_config">

    <!--============MENÜ===========-->
    <section class="container1">
        <div class="logo">
            <img title="logo von Heizung Defekt de Seite" src="/asset/logo/heitzung_defekt_logo3.png" alt="Logo von Heizung defekt">
        </div>
        <div class="tel_top">
            <a href="tel:015904355423" class="tel_top_bar"><i class="fa fa-phone"></i> 0159-04355423</a>
            <a href="mailto:info@heizung-defekt.de" class="mail_top_bar"><i class="fa fa-envelope"> info@heizung-defekt.de</i></a>
        </div>
        <div class="menu_hidden" onclick="menu_function()">
            <div class="hidden_menu_hover">

                <div class="menu_top menu_top_no_display">
                    <a href="/kontakt/">Kontakt</a>
                    <a href="/service/">Service</a>
                    <a href="#preis">Preise</a>
                    <a href="/ueber_uns/">Über uns</a>
                    <a href="/">Start</a>
                </div>
            </div>
        </div>
    </section>
    <!--search-->
    <!--============MENÜ=ENDE=======-->
    <!--Hero bereich - Hero Banner + Title h1-->
    <!--Unterscheid sich von anderen Seiten-->
    <section class="container2">
        <div class="haupt_seite_h1">
            <h1>Heizung Notdienst</h1>
            <div class="hero_oh_boy"></div>
            <p>Heizung Defekt Notdienst ist immer <u>schnell</u>, in <u>24 Stunden</u>, mit <u>Transparenten und faire Preise</u> und mit der richtig Lösung für Sie da.</p>
            <!-- <p>&check;schnell</p>
            <p>&check;transparent</p>
            <p>&check;fair</p>-->
            <form action="/search/" method="get" class="search_maschine">
                <button href="tel:015904355423" onclick="window.location.href='tel:015904355423'" class="button_hero_haupt"><i class="fa fa-phone"></i>ANRUFEN</button>


                <input class="search_leistung_unter" type="text" placeholder="&telrec; Finden">
            </form>
            <a href="/ueber_uns/"></a>
        </div>

    </section>
    <!--=====SEPARATOR Anfang =====-->
    <!--Separator ganz oben in css-->
    <section class="separator">
        <div></div>
        <div href="tel:015904355423" class="separator_item">
            <a class="not_top" href="tel:015904355423"><i class="fa fa-phone"></i> 0159-04355423</a>
        </div>

        <div></div>
    </section>
    <!--=====SEPARATOR Ende =====-->
    <section class="container3">
        <div class="cont3_lesitung_config">
            <img title="Freundlich Mietarbeiter/in bei Heizung Defekt Notdienst" src="/asset/pic/freundlich_mietarbeiter.jpg" alt="Monteur von Heizung Notdienst repariert und wartet Ihe Heizung">
            <div class="cont3_text">
                <p>Sind Sie auf der Suche nach einem
                    <orange><b>Heizung Notdienst in der Nähe?</b></orange> Dann ist dieser Anbieter genau der richtige Ansprechpartner für Sie. Auch wenn es plötzlich in der
                    <orange><b>Nacht</b></orange> oder am
                    <orange><b>Wochenende</b></orange> beziehungsweise an einem
                    <orange><b>Feiertag</b></orange> zu einem Notfall kommt! Mit uns haben Sie einen
                    <orange><b>zuverlässigen</b></orange> und <b>starken Partner</b> an Ihrer Seite, der Ihnen aus der Situation hilft.</p>
                <p>Rufen Sie den Heizung Notdienst in einem solchen Fall schnell an, um die Folgeschäden möglichst gering zu halten. Doch das ist längst noch nicht alles. Fachmänner bieten Ihnen ein sehr großes Portfolio an Dienstleistungen rund um die
                    <b>Sanitärtechnik, Heiztechnik</b> un d auch im Bereich der <b>Haustechnik</b>.</p>
            </div>
        </div>
    </section>
    <!--cont4 info1-->
    <section class="container4_info1">
        <div class="cont4_background_all">
            <!--Hintergrund Bild-->
            <!--==MENU TITEL UND SUBTITEL==-->

            <div class="cont4_background_mittel">
                <div class="grid_item4">
                    <!--Division des temes und Leistung Zeule-->
                    <div class="grid_item4_teme1">
                        <h2>Warum Sie uns Ihr
                            <orange>Vertrauen schenken sollten!</orange>
                        </h2>
                        <p>Einige Gründe, die dafür sprechen den Heizung Notdienst in einer solchen Situation zu beauftragen, wurden oben bereits genannt. Darüber hinaus ist er schon viele Jahre auf diesem Gebiet aktiv und hat im Laufe der Zeit sehr viel
                            erlebt.
                        </p>
                        <p>So konnten sich die Handwerker ein großes Fachwissen und Erfahrung sammeln, das sie in seine Arbeit einfließen lassen. Auch Sie profitieren von seinem Know-how und erhalten stets hochwertige und einwandfreie Ergebnisse. Durch regelmäßige
                            Schulungen bleibt das Personal immer auf dem Laufenden und kennt in jeder Situation die perfekte Lösung.</p>
                        <!--mane-->
                        <!--mane-->
                        <!--mane-->
                        <p>Rufen Sie uns an und die freundlichen Mitarbeiter helfen Ihnen. Sie sind uns wichtig. Keine überteuerten Preise, dafür sofortige Reaktion am Telefon. Das Team ist rund um die Uhr für Sie da. Nur wenn Sie sich wohlfühlen, sind wir
                            auch zufrieden.
                        </p>
                        <!--mane-->
                        <!--mane-->
                        <!--mane-->
                    </div>
                    <div class="cont4_seite1 kontakt kontakt_korrektur_haupt">
                        <p>Kontakt</p>
                        <form action="mailto:info@heizung-defekt.de" class="kontakt_gestalten">
                            <input type="name" class="kontakt_form" placeholder="Name">
                            <input type="tel" class="kontakt_form" placeholder="Telefon">
                            <input type="email" class="kontakt_form" placeholder="E-Mail">
                            <textarea name="Message" id="" class="kontakt_form kontakt_text_famili" placeholder="Hier schreiben..."></textarea>
                            <div class="button_platz">
                                <button type="reset">Löschen</button>
                                <button type="submit">Senden</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="grid_item4">
                    <div class="cont4_img_line1_haupt">
                        <img title="Heizung Defekt Notdienst Service Fachmann" class="cont4_img img1" src="/asset/pic/notdienst_naehe.jpg" alt="Heizung Defekt Fachmann repariert defekte Heizkörper">
                        <img title="Heizung Defekt Heizungsanlage" class="cont4_img img2" src="/asset/pic/notdiesnt_klima_competenz.jpg" alt="Heizungsanlage">
                        <img title="Heizung Defekt Heizpumpe Reparatur" class="cont4_img img3" src="/asset/pic/notdienst_reparatur1.jpg" alt="Heizung Defekt Heizpumpe Reparatur">
                        <img title="Heizung Defekt Notdienst Fachmann Arbeiten" class="cont4_img img4" src="/asset/pic/notdienst_wartung_heizung.jpg" alt="Heizung Defekt Notdienst Fachmann repariert den Heizkörper">
                    </div>
                    <div class="cont4_seite1 seite1_part2">
                    </div>
                </div>
            </div>
            <!--********-->
            <div class="grid_item4">
                <!--Division des temes und Leistung Zeule-->
                <div class="grid_item4_teme2">
                    <div id="grid_item4_sub">
                        <div class="stage1_titel">
                            <h2>Heizung Notdienst in der Nähe:
                                <orange>alles aus einer Hand</orange>
                            </h2>
                        </div>
                        <div>
                            <p>Der Heizung Notdienst bietet Ihnen ein <b>umfangreiches Komplettpaket</b>, das alle anfallenden Arbeiten an Ihrer Heizung beinhaltet. Sie können mit dem Anbieter<br>
                                <li class="liste_li">einen <b>Wartungsvertrag</b> abschließen</li><br>
                                <li class="liste_li">und so dafür sorgen, dass Ihre Anlage immer <b>in einem einwandfreien Zustand</b> bleibt.</li><br>
                            </p>
                            <p>Fallen dabei kleinere Schäden auf, beheben die erfahrenen Mitarbeiter diese natürlich für Sie. Auf diese Weise lassen sich teure Folgeschäden vermeiden. Der Sanitär Notdienst berät Sie zudem auch gerne zu seinen Leistungen
                                und stellt Ihnen die unterschiedlichen Möglichkeiten vor. Denn diese unterscheiden sich von Fall zu Fall.</p>
                        </div>
                    </div>
                </div>
                <div class="cont4_seite1 seite1_part3">
                    <!--Bewerbung-->
                    <div class="cont4_seite1 bewerbung_config">
                        <a href="/karriere/"> <img title="Heizung Defekt Bewerbung art" class="bewerbung" src="/asset/logo/bewerbung.png" alt="bewirb dich"></a>
                        <div class="bewergun_info_config">
                            <a href="tel:tel:015904355423">0159-04355423</a>
                            <a href="">info@heizung-defekt.de</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=====SEPARATOR Anfang =====-->
        <!--Separator ganz oben in css-->
        <section class="separator">
            <div></div>
            <div class="separator_item">
                <p>Versteckte Kosten gibt es bei dem Notdienst für Heizungen nicht.</p>
                <a class="not_top" href="tel:015904355423"><i class="fa fa-phone"></i> 0159-04355423</a>
            </div>
            <div></div>
        </section>
        <!--cont4 info2-->
        <!--Stage 2-->
        <!--<div class="cont4_display_config_service"></div>-->
        <section>
            <div class="cont4_background_all cont4_info2">
                <div></div>
                <div class="cont4_background_mittel">
                    <div class="grid_item4">
                        <!--Division des temes und Leistung Zeule-->
                        <div class="grid_item4_teme1">
                            <p>Auch wenn Sie <b>kurzfristig Hilfe benötigen</b>, ist eine <b>schnelle Terminvergabe</b> möglich. Wenden Sie sich dafür an den Heizung Notdienst an und ein Mitarbeiter macht sich direkt auf den Weg zu Ihnen. In ca. <b>40 Minuten</b>                                sollte dieser bei Ihnen eintreffen.</p>
                            <p>Da der Heizung Service Ihnen ein Komplettpaket bietet, brauchen Sie nicht unterschiedliche Unternehmen beauftragen, wenn einmal mehrere Arbeiten anfallen. Auch dadurch sparen Sie Geld und haben weniger damit zu tun, die einzelnen
                                Anbieter zu kontaktieren.</p>
                        </div>
                        <div class="cont4_seite1 cont4_display_config">
                            <div class="seite_leistung">
                                <p></p>
                                <a href="/wasserschaden_notdienst/">
                                    <orange>&check;</orange> Wasserschaden</a>
                                <a href="/rohrreinigung_notdienst/">
                                    <orange>&check;</orange> Rohrreinigung</a>
                                <a href="/rohrbruch/">
                                    <orange>&check;</orange> Rohrbruch Notdienst</a>
                                <a href="/heizungsausfall/">
                                    <orange>&check;</orange> Heizungsausfall</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item4">
                        <!--Division des temes und Leistung Zeule-->
                        <div class="grid_item4_teme2" id="klempner">
                            <h3>Defekte Heizung?
                                <orange>Der Klempner Notdienst in der Nähe hilft Ihnen!</orange>
                            </h3>
                            <div>
                                <div class="grid_item4_img_text1">
                                    <img title="Heizung Defekt Notdienst 24H Wagen" src="/asset/pic/heizung_naehe.jpg" alt="Auto von Heizung Defekt">
                                    <p>Die meisten Heizungsanlagen halten mehr als zehn Jahre. Dennoch kann es immer <a href="/professionelle_heizungswartung/">zu einem Defekt kommen</a>. Und dann gilt es schnell zu handeln. Insbesondere dann, wenn die kalte
                                        Jahreszeit vor der Tür steht. Bewahren Sie in einer solchen Situation die Ruhe und kontaktieren Sie den erfahrenen Heizung Notdienst Service. Die Handwerker und Monteure haben <b>sehr viel Erfahrung</b> auf diesem
                                        Gebiet und kommen mit den
                                        <b>modernsten
                                            und innovativsten Geräten </b>zu Ihnen.</p>
                                </div>
                                <p>So lässt sich das Problem schnell lokalisieren und beheben. Unter anderem wird bei einer Gasheizung geschaut, warum diese nicht mehr richtig funktioniert und welche Ursachen hinter dem <a href="/heizungsausfall/"><b>Heizungsausfall</b></a>                                    stecken. So kommt der Notdienst bei Ihnen vorbei und sorgt unter anderem dafür, dass der Energieverbrauch durch eine defekte Anlage wieder gesenkt wird.</p>
                            </div>
                        </div>
                        <div class="cont4_seite1 cont4_display_config2 js_efekt">
                            <div class="seite_leistung_korrektur">
                                <div class="seite_leistung">
                                    <a href="/heizung_reparatur/">
                                        <orange>&check;</orange> Reparatur</a>
                                    <a href="/professionelle_heizungswartung/">
                                        <orange>&check;</orange> Wartung</a>
                                    <a href="/heizungsinstallation/">
                                        <orange>&check;</orange> Installationen</a>
                                    <a href="/klempner_service/">
                                        <orange>&check;</orange> Klempnerservice</a>
                                    <a href="/24h_notdienst/">
                                        <orange>&check;</orange> 24h Notdienst</a>
                                    <a href="/heizung_kaputt/">
                                        <orange>&check;</orange> Heizung kaputt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item4">
                        <div class="grid_item4_teme1">
                            <h3>Ist Heizung kaputt? Heizung bleibt kalt
                                <orange>trotz voll aufgedrehter Heizkörper?</orange>
                            </h3>
                            <div class="grid_item4_teme1_sub1">
                                <div>
                                    <img title="Heizung Defekt Notdienst Heizkörper Kalt" src="/asset/pic/heizung_kalt.jpg" alt="Heizkörper bleibt kalt">
                                </div>
                                <div class="teme1_text1">
                                    <p>Dann sollten Sie nicht länger zögern. Der Notdienst beschäftigt ausgebildete Handwerker und verfügt über eine langjährige Erfahrung im Bereich Heizung und Sanitär. Zudem agiert er stets <a href="/professionelle_heizungswartung/">professionell</a>                                        und umweltfreundlich. Die Hotline des Unternehmens ist immer erreichbar. Erläutern Sie den Heizung Experten, welcher Schaden in Ihrem Fall vorliegt. Denn dadurch lassen sich eventuell schon einige Dinge ausschließen.
                                    </p>
                                </div>
                            </div>
                            <div class="teme1_text2">
                                <p>Vielfach muss die Heizungsinstallation nur gewartet werden und funktioniert nicht mehr richtig. Doch auch wenn diese ausgetauscht werden muss, ist das Unternehmen immer für Sie da. 24h Heizung Service bietet Ihnen faire
                                    Preise
                                    </a> und die qualifizierten <a href="heizungsinstallation/">Heizungsinstallateure</a> beraten Sie zu den unterschiedlichen Möglichkeiten. Dabei stellen sie Ihnen zum Beispiel auch die neuen Heizungen vor, die sie bei
                                    Ihnen vor Ort <a href="heizungsinstallation/">installieren</a> können.
                                </p>
                            </div>
                        </div>
                        <div class="cont4_seite1 img_text2 seite_text_haupt">
                            <a class="seite_tel" href="tel:015904355423"><i class="fa fa-phone"></i> 0159-04355423</a>
                            <a href="/ueber_uns/">
                                <img title="Heizu8ng Defekt Über uns Info" class="seite_pic_haupt" src="/asset/pic/ueberuns_combo.png" alt="Mehr Über Heizung Defekt">
                            </a>
                        </div>
                    </div>
                    <div class="grid_item4">
                        <div class="grid_item4_teme2 teme1_text3">
                            <h3>24h Heizung
                                <orange>Service</orange>
                            </h3>
                            <div>
                                <p>Wie bereits erwähnt, ist der <b><a href="klempner_service/">Klempner Notdienst</a></b> immer für Sie da. Das gilt sowohl für 365 Tage im Jahr wie auch für <b>24 Stunden am Tag</b>. Somit erhalten Sie zu jeder Zeit Hilfe,
                                    sollte eine <b>Heizung Reparatur</b>in der Nähe anstehen. Wenden Sie sich in einem solchen Fall an den Notruf, der schnell erkennt, ob es eventuell zu einem Rohrbruch gekommen ist. Hier gilt es schnell zu handeln, damit
                                    die Schäden nicht noch weiter anwachsen. Wenden Sie sich in einem solchen Fall an den Notruf, der schnell erkennt, ob es eventuell zu einem <b>Rohrbruch</b> gekommen ist. Hier gilt es schnell zu handeln, damit die Schäden
                                    nicht noch weiter anwachsen.
                                </p><br>
                                <p>Vermeiden Sie daher, den Anruf auf den nächsten Werktag zu verschieben. Stattdessen handeln Sie sofort und sorgen dafür, dass Ihre Heizung schon bald wieder wie zuvor funktioniert. Durch <b>regelmäßige Wartungen</b> senken
                                    die Mitarbeiter den <b>Energieverbrauch</b> in Ihrem Haus oder Ihrer Wohnung und führen alle notwendigen <a href="/heizung_reparatur/">Reparaturen</a> an Ihrer Anlage durch. Zudem bietet Ihnen der Anbieter <b>faire Konditionen</b>                                    und legt sehr viel Wert auf Kundennähe. Wenn Sie einen Heizung Notdienst an Sonn- und Feiertagen suchen, ist das Unternehmen der richtige Ansprechpartner für Sie. </p>
                            </div>
                        </div>
                        <!--Bewerbung-->
                        <div class="cont4_seite1 bewerbung_config">
                            <a href="/service/">
                                <img title="Heizung Defekt Leistung Combo" class="seite_pic_haupt" src="/asset/pic/leistungen_combo.png" alt="Heizung Defekt Services und Leistungen">
                            </a>
                        </div>
                    </div>
                    <!--=====SEPARATOR Anfang =====-->
                    <!--Separator ganz oben in css-->
                    <div class="grid_item4">

                        <div class="grid_item4_teme1_stage3">
                            <div class="grid_item4_stage3_h3_img">
                                <img title="Heizung Defekt 24h Logo" src="/asset/logo/24h_logo.png" alt="Heizung Defekt ist immer, 24h, für Sie da!">
                                <h3>Ihr Heizung Notdienst ist immer für Sie da! </h3>
                            </div>

                            <div>
                                <p>Durch unsere <a href="/24h_notdienst/">24-Stunden-Hotline</a> werden Sie schnell aus der sehr unschönen Situation befreit, wenn es bei Ihnen einmal zu einem Wasserschaden gekommen ist. Nachdem Sie den Heizung Notdienst
                                    kontaktiert und die Situation beschrieben haben, machen sich direkt einige Monteure auf den Weg, um den Schaden zu beseitigen.</p>
                                <p>Durch das große Know-how wissen diese immer, wie sie vorgehen und wo sie den Hebel ansetzen müssen. So lassen sich viele Folgeschäden vermeiden oder zumindest verringern. Mit modernster Technik und einem bestens geschulten
                                    Auge erkennen die Mitarbeiter direkt, was genau passiert ist.</p>
                                <p>In solchen Fällen sollen sie den Heizung Notdienst unbedingt kontaktieren:<br><br>&#10004; die Heizkosten steigen immer weiter an, obwohl sie nicht mehr heizen,
                                    <br>&#10004; und die Heizkosten erhöhen sich extrem stark.
                                </p>
                                <p>Denn auch dann kann es sein, dass ein Heizkörper defekt oder sogar ein <a href="/rohrbruch/">Rohrbruch</a> entstanden ist. Aus der Ferne lässt sich nur sehr schwer sagen, was genau in Ihrem Fall passiert ist. Daher kommen
                                    die Mitarbeiter schnell bei Ihnen vorbei und verschaffen sich ein erstes Bild von der Situation. </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item4">
                        <div class="grid_item4_teme2_stage3">
                            <h3>Heizungsnotdienst beauftragen </h3>
                            <div>
                                <p>Wenn eine Heizung plötzlich nicht mehr richtig funktioniert, kann dies verschiedene Gründe haben. Die Experten des Notdienstes sind 24h für Sie da. Das gilt sowohl für einen <a href="/wasserschaden_notdienst/">Wasserschaden</a>,
                                    wie auch für einen Rohrbruch.</p>
                                <p>Rufen Sie uns an und die Fachleute sind schnell vor Ort. Sie warten und reparieren anschließend Ihre Heizung. Zudem können Sie sich auch gerne jederzeit an den Dienstleistungsservice wenden, wenn Sie Fragen zu den einzelnen
                                    Leistungen haben oder sich beraten lassen wollen. Rufen Sie noch heute den <b>Heizung Notdienst</b> an, wenn Sie einen Defekt an einem Heizkörper bemerken oder aber einen <a href="/professionelle_heizungswartung/"><b>Wartungsvertrag</b></a>                                    unterschreiben wollen!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="city">
            <div class="city_link">
                <a href="/berlin/heizung-notdienst-berlin/">Berlin</a>
                <a href="/hansestadt-rostock/heizung-notdienst-rostock/">Rostock</a>
                <a href="/hamburg/heizung-notdienst-hamburg/">Hamburg</a>
                <a href="/kiel/heizung-notdienst-kiel/">Kiel</a>
                <a href="/dresden/heizung-notdienst-dresden/">Dresden</a>
                <a href="/bremen/heizung-notdienst-bremen/">Bremen</a>
                <a href="/hannover/heizung-notdienst-hannover/">Hannover</a>
                <a href="/dortmund/heizung-notdienst-dortmund/">Dortmund</a>
                <a href="/duesseldorf/heizung-notdienst-duesseldorf/">Düsseldorf</a>
                <a href="/koeln/heizung-notdienst-koeln/">Köln</a>
                <a href="/bonn/heizung-notdienst-bonn/">Bonn</a>
                <a href="/leipzig/heizung-notdienst-leipzig/">Leipzig</a>
                <a href="/frankfurt-am-main/heizung-notdienst-frankfurt-am-main/">Frankfurt am Main</a>
                <a href="/mannheim/heizung-notdienst-mannheim/">Mannheim</a>
                <a href="/stuttgart/heizung-notdienst-stuttgart/">Stuttgart</a>
                <a href="/augsburg/heizung-notdienst-augsburg/">Augsburg</a>
                <a href="/nuernberg/heizung-notdienst-nuernberg/">Nürnberg</a>
                <a href="/muenchen/heizung-notdienst-muenchen/">München</a>
            </div>
        </section>
        <!--===Container 5===-->
        <div class="container5" id="preis">
            <p id="cont5_title">Was kostet der Heizungsnotdienst?</p>
            <div class="preis_no_display">
                <div class="preis_intervention preis_li_title">
                    <p>Die Kosten des Heizungsnotdienstes können nicht pauschal formuliert werden. Die Kosten variieren dafür zu stark je nach Faktoren des Auftrages.</p>
                    <ul>
                        <li>
                            Auftragsort
                        </li>
                        <p>
                            Liegt der Auftragsort in der Nähe der Firma und damit in der Nähe des ausgebildeten Monteurs, halten sich die Anfahrtskosten gering. </p>
                        <li>
                            Auftragsaufgabe
                        </li>
                        <p>Hierbei ist auch stark zwischen den verschiedenen Aufgaben zu unterscheiden. So setzt eine fachmännische Wartung kein spezielles Werkzeug, Wissen oder längere Dauer des Auftrages voraus. Im Gegensatz dazu muss man bei einer defekten
                            Heizung oder einem Leck in einem der Rohre zuerst das Problem und die Problemstelle finden.
                        </p>
                        <p>Hier muss der Techniker möglicherweise einige spezielle Werkzeuge wie eine mobile Kamera und Messgeräte mitnehmen, um das Problem zu orten. Anschließen muss das Rohr ausgebaut und ein neues eingebaut werden. </p>
                        <p> Sollte seit dem Auftreten des Lecks und der Behebung des Lecks durch den Fachmann ein Wasserschaden entstanden sein, muss der Profi eine Bauwerkstrocknung vornehmen.
                        </p>
                        <li>
                            Art der Heizung
                        </li>
                        <p>Bei der Art der Heizung geht es darum, wie und wo die Heizung im Heizraum verbaut ist. Ebenfalls ist wichtig, um welches Modell es sich handelt. Ist die Heizanlage speziell darauf ausgerichtet klein und platzsparend zu sein, braucht
                            der Monteur länger, um die Aufgabe zu erledigen. </p>
                        <li>
                            Dauer des Auftrages
                        </li>
                        <p>In die Dauer des Auftrages spielen die oben genannten Punkte stark mit ein. Umso leichter das Problem ist, umso weniger Zeit braucht der ausgebildete Fachmann auch um das zu beheben. Da die Faktoren aber individuell sehr unterschiedlich
                            sind, kann man keine pauschale Aussage über die Kosten treffen. </p>
                        <li>Ersatzteile</li>
                        <p>Platzen Rohre oder gehen Ventile und Druckmessgeräte kaputt, muss ein Techniker diese ersetzten. Dabei kommt es auf das Alter des jeweiligen defekten Gerätes an und auf die Art der Anlage.</p>
                        <p> Manche Ersatzteile sind günstiger und leichter zu bestellen als andere. Sollte die Anlage besonders alt sein, sind Ersatzteile möglicherweise nicht mehr erhältlich. Auch das fließt in die Preisberechnung mit ein.
                        </p>
                        <li>
                            Datum
                        </li>
                        <p>Ebenfalls spielt es eine große Rolle, wann der Handwerker Ihr Problem lösen soll. An Sonn- und Feiertagen sowie nachts schreibt die Gesetzgebung vor, dass die Firma den Arbeitern einen Zuschlag auf die Arbeitszeit berechnet.</p>
                    </ul>
                </div>
                <div class="preis_intervention">
                    <p>Um unseriöse oder überteuerte Angebote oder Dienstleister zu verhindern, sollten Sie einige Sachen beachten.</p>
                    <p> Mittlerweile präsentieren sich viele Betrüger ohne spezifisches Fachwissen als ausgebildete Techniker, die Ihr Problem im Nu lösen. Ohne das notwendige Fachwissen, richtet man jedoch schnell Schaden an den Anlagen an.
                    </p>
                    <p>Diese unseriösen Techniker verlangen meist Wucherpreise und eine Zahlung dieser Vorab oder sofort im Anschluss des Auftrages. Damit Sie sich selbst schützen, beachten Sie einige Ratschläge zur Zahlung des Auftrages:
                    </p>
                    <ul>
                        <li>Fragen Sie vorab <a href="tel:0941000000">telefonisch nach einem Kostenvoranschlag</a> </li>
                        <li>Ist die Rechnung ungewöhnlich hoch, zahlen Sie diese weder bar noch vorab. </li>
                        <li>Haken Sie in diesem Fall lieber nochmal nach oder wenden sich an die Verbraucherzentrale. Diese hilft in Verdachtsfällen auf Betrug. Warten Sie in einem solchen Fall die Zahlung der Rechnung ab. </li>
                    </ul>
                </div>
                <div class="preis_intervention betrug">
                    <p>Nützliche Hinweise auf Betrüger erkennt man vorab auf der entsprechenden Website: </p>
                    <ul>
                        <li>Der Sitz und Name des Unternehmens müssen im Impressum ausdrücklich stehen </li>
                        <li>Rechtlich korrekte Rechnungen weisen eine detaillierte Aufzählung der Dienstleistung auf</li>
                        <li>Ebenfalls muss die Steuernummer auf der Rechnung zu finden sein </li>
                    </ul>
                    <p>Haben Sie Fragen oder wünschen Sie eine Beratung zu den Kosten oder einen Kostenvoranschlag, rufen Sie unsere Hotline jederzeit an. Dann kann Ihnen ein Kundenberater am Telefon oder ein Monteur vor Ort die ungefähren Kosten mitteilen.
                        Gegeben falls holen Sie sich bei Bedarf einen Kostenvoranschlag ein. </p>
                </div>
            </div>

        </div>
        <!--Weitere Infos-->
</body>
<footer>
    <div class="footer_not_hidden">
        <div class="footer_sub">
            <div class="footer_division">
                <div id="footer_division_sub">
                    <a href="/">
                        <img title="Heizung Defekt S&W Logo" class="footer_logo" src="/asset/logo/heitzung_defekt_logo3_nonColor.png" alt="Logo von Heizung defekt">
                    </a>
                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="/service/">Service</a>
                    <a class="footer_service" href="/heizungsausfall/">Heizungsausfall</a>
                    <a class="footer_service" href="/rohrreinigung_notdienst/">Rohrreinigung Notdienst</a>
                    <a class="footer_service" href="/wasserschaden_notdienst/">Wasserschaden Notdienst</a>
                    <a class="footer_service" href="/heizungsinstallation/">Installation</a>
                    <a class="footer_service" href="/klempner_service/">Klempnerarbeiten</a>
                    <a class="footer_service" href="/professionelle_heizungswartung/">Wartungen</a>


                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="/ueber_uns/">Über uns</a>
                    <a class="footer_service" href="/datenschutz/">Datenschutz</a>
                    <a class="footer_service" href="/impressum/">Impressum</a>
                    <a class="footer_service" href="/kontakt/">Kontakt</a>
                    <a class="footer_service" href="/karriere/">Job & Karriere</a>
                    <a class="footer_service" href="/faq/">FAQ</a>
                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="/kontakt/">Kontakt</a>
                    <a class="footer_service" href="tel:015904355423">✆ 0159-04355423</a>
                    <a class="footer_service" href="">📧 info@heizung-defekt.de<</a>
                </div>
            </div>
        </div>
    </div>

    </div>


    <div class="luecke"></div>
</footer>
<div class="telefon_footer_hidden">
    <a href="tel:015904355423">
        <p>0159-04355423</p>
    </a>
    <div></div>
</div>
<!--cookies-->
<div id="footer-cookie">
    <red id="description">
        Wir nutzen Cookies, um unsere Dienste zu erbringen und zu verbessern. Mit Nutzung dieser Seite akzeptieren Sie Cookies. <a href="/datenschutz/">Mehr erfahren</a>
    </red>
    <red id="accept"><a href="javascript:void(0)" title="Akzeptieren">Akzeptieren</a></red>
</div>

<!--script-->
<script src="/asset/js/heizung-defekt.js" type="text/javascript"></script>

</html>
