<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Wasserschaden Notdienst - 24h Service vor Ort</title>
    <meta name="description" content="Wasserschaden in der Wohnung? feuchte Wände? Schimmelstellen an der Wand? Rufen Sie an. ☎ 0159-04355423 Profis helfen kompetent und zeitnah">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Heizung Notdienst, Heizungsservice 24 stunden, Heizung Notdienst vor Ort">
    <link rel="canonical" href="https://www.heizung-defekt.de/wasserschaden-notdienst" />
    <link rel="icon" href="../asset/icon/favicon.png">
    <link rel="stylesheet" href="../asset/css-datei/heizung-defekt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134725552-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-134725552-6');
    </script>

</head>

<body>
    <!--============MENÜ===========-->
    <section class="container1">
        <div class="logo">
            <a href="../" class="logo">
                <img src="../asset/logo/heitzung_defekt_logo3.png" alt="Logo von Heizung defekt">
            </a>
        </div>
        <div class="tel_top">
            <a href="tel:015904355423" class="tel_top_bar"><i class="fa fa-phone"></i> 0159-04355423</a>
            <a href="mailto:info@heizung-defekt.de" class="mail_top_bar"><i class="fa fa-envelope"> info@heizung-defekt.de</i></a>
        </div>
        <div class="menu_hidden" onclick="menu_function()">
            <div class="hidden_menu_hover">

                <div class="menu_top menu_top_no_display">
                    <a href="../kontakt/">Kontakt</a>
                    <a href="../service/">Service</a>
                    <a href="#preis">Preise</a>
                    <a href="../ueber_uns/">Über uns</a>
                    <a href="../">Start</a>
                </div>
            </div>
        </div>
    </section>
    <!--============MENÜ=ENDE=======-->
    <!--Hero bereich - Hero Banner + Title h1-->
    <!--Unterscheid sich von anderen Seiten-->
    <!--continer2_wasserschaden-->
    <section class="container2_wasser">

        <div class="wasserschaden_seite_h1">
            <h1>Der Wasserschaden
                <orange>Notdienst Ihres Vertrauens</orange>
            </h1>
            <p>Wasserschaden in der Wohnung
            </p>
            <p>24h Sanitär Notdienst
            </p>
            <form action="/search/" method="get" class="search_maschine">
                <button href="tel:015904355423" onclick="window.location.href='tel:015904355423'" class="button_hero_haupt"><i class="fa fa-phone"></i>ANRUFEN</button>
                <input class="search_leistung_unter" type="text" placeholder="&telrec; Finden">
                <input type="text" class="output_search">
            </form>
            <a href="../ueber_uns/"></a>
        </div>
        <div class="hero_oh_boy"></div>
    </section>
    <!--=====SEPARATOR Anfang =====-->
    <!--Separator ganz oben in css-->
    <section class="separator">
        <div></div>

        <div class="separator_item">
            <a class="not_top" href="tel:015904355423"><i class="fa fa-phone"></i> 0159-04355423</a>
        </div>
        <div></div>
    </section>
    <!--=====SEPARATOR Ende =====-->
    <section class="container3">
    </section>
    <!--cont4 info1-->
    <section class="small_intro_wasserschaden">
        <div>
            <p>Sie vermuten einen Wasserschaden in Ihrem Haus oder Ihrer Wohnung? Wasserschaden bemerken Sie vor allem recht schnell an der Wand. Aber auch Wasserschaden an der Decke ist keine Seltenheit.
            </p>
        </div>
    </section>

    <section class="container4_info1">
        <div class="cont4_background_all">
            <!--Hintergrund Bild-->
            <!--==MENU TITEL UND SUBTITEL==-->

            <div class="cont4_background_mittel">
                <div class="cont4_img_line1 grid_item4_korrrektur">
                    <!--Division des temes und Leistung Zeule-->
                    <div class="grid_item4_teme1_heizung_ausfall">
                        <p><b>Machen Sie sich vertraut mit den Leistungen des Wasserschaden Notdienst und profitieren Sie von:</b>
                        </p>
                        <ul type="square">
                            <li class=""> Einem rundum Service sowie Notdienst in verschiedenen Bereichen</li>
                            <li class=""> Einer schnellen Leckortung im Boden wie Parkett oder Laminat
                            </li>
                            <li class=""> Einer sicheren Hilfe bei der Sanierung Ihrer Immobilie
                            </li>
                            <li class=""> Einer umgehenden Einleitung der professionellen Bautrocknung zur Vermeidung von Folgeschäden
                            </li>
                        </ul>
                        <br>
                        <p>Die Mitarbeiter des Wasserschaden Notdienst helfen mit allen Mitteln kompetent und zeitnah, um Ihren Wasserschaden erfolgreich zu beheben. Zudem sind verschiedene Notdienste jederzeit abrufbar, um Ihnen auch nachts oder an Sonn-
                            und Feiertagen zu helfen.
                        </p>
                    </div>
                    <div class="cont4_seite1 kontakt kontakt_korrektur">
                        <p>Kontakt</p>
                        <form action="" class="kontakt_gestalten">
                            <input type="name" class="kontakt_form" placeholder="Name">
                            <input type="tel" class="kontakt_form" placeholder="Telefon">
                            <input type="email" class="kontakt_form" placeholder="E-Mail">
                            <textarea name="Message" id="" class="kontakt_form" placeholder="Hier schreiben..."></textarea>
                            <div class="button_platz">
                                <button type="reset">Löschen</button>
                                <button type="submit">Senden</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="cont4_img_line1 grid_item4_korrrektur">
                    <div class="grid_item4_teme1_heizung_ausfall">
                        <!--info behondbeginn top 1.-->
                        <ol>
                            <li>Sanitär Notdienst</li>
                            <p>Die Handwerker des Sanitär Service kümmern sich schnell und zuverlässig um die Behebung Ihres Problems. Hierzu zählt alles im Sanitärbereich.</p>
                            <li>Klempner Notdienst</li>
                            <p>Zu dem Aufgabenbereich des <a href="/klempner_service/">Klempner Service</a> gehören diverse Tätigkeiten rund um das Thema</p>
                            <li>Rohrbruch Notdienst</li>
                            <p>Der <a href="../rohrbruch/">Rohrbruch</a>- oder Wasserschaden Notdienst hilft Ihnen schnell und kompetent, wenn Sie aufgrund eines Rohrbruchs einen Wasserschaden beheben müssen.</p>
                        </ol>
                    </div>
                    <div class="cont4_seite1 seite1_part2">
                        <div class="logo_mittle">
                            <div class="seite_leistung">
                                <br>
                                <a href="../heizung_reparatur/">
                                    <orange>&check;</orange> Reparatur</a>
                                <a href="../professionelle_heizungswartung/">
                                    <orange>&check;</orange> Wartung</a>
                                <a href="../heizungsinstallation/">
                                    <orange>&check;</orange> Installationen</a>
                                <a href="../klempner_service/">
                                    <orange>&check;</orange> Klempnerservice</a>
                                <a href="../24h_notdienst/">
                                    <orange>&check;</orange> 24h Notdienst</a>
                                <a href="../heizung_kaputt/">
                                    <orange>&check;</orange> Heizung kaputt</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--********-->
                <div class="grid_item4">
                    <!--Division des temes und Leistung Zeule-->
                    <div class="grid_item4_teme2 teme2_wasserschaden">
                    </div>
                    <div class="cont4_seite1 seite1_part3">
                    </div>
                </div>
            </div>
            <!--=====SEPARATOR Anfang =====-->
            <!--Separator ganz oben in css-->
            <section class="separator ">
                <div></div>
                <div class="separator_item">
                    <p>Für Anfragen stehen Ihnen die Mitarbeiter jederzeit zur Verfügung. Jetzt anrufen</p>
                    <a class="not_top" href="tel:015904355423"><i class="fa fa-phone"></i> 0159-04355423</a>
                </div>
                <div></div>
            </section>
            <!--cont4 info2-->
            <!--Stage 2-->
            <section>
                <div class="cont4_background_all cont4_info2">
                    <div></div>
                    <div class="cont4_background_mittel">
                        <div class="grid_item4">
                            <!--Division des temes und Leistung Zeule-->
                        </div>
                        <div class="grid_item4">
                            <!--Division des temes und Leistung Zeule-->
                            <div class="grid_item4_teme2">
                                <h2>Was gilt als
                                    <orange>Wasserschaden?</orange>
                                </h2>
                                <p>Sie haben eine nasse Hauswand und fragen sich, ob das als Wasserschaden gilt? Ein Wasserschaden ist immer dann ein Schadensfall, wenn Leitungswasser unvorhergesehen austritt. Darunter fallen unter anderem: Ein abgeplatzter
                                    Schlauch der Waschmaschine, eine auslaufende Heizung, ein undichtes Wasserbett oder ein <a href="/rohrbruch/">Rohrbruch</a>.</p>

                                <p> Sie haben eine nasse Hauswand und fragen sich, ob das als Wasserschaden gilt? Ein Wasserschaden ist immer dann ein Schadensfall, wenn Leitungswasser unvorhergesehen austritt. Darunter fallen unter anderem: Ein abgeplatzter
                                    Schlauch der Waschmaschine, eine auslaufende Heizung, ein undichtes Wasserbett oder ein <a href="/rohrbruch/">Rohrbruch</a>.
                                </p>
                            </div>
                            <div class="cont4_seite1">
                                <div class="seite_leistung">
                                    <p></p>
                                    <a href="../wasserschaden_notdienst/">
                                        <orange>&check;</orange> Wasserschaden</a>

                                    <a href="../rohrreinigung_notdienst/">
                                        <orange>&check;</orange> Rohrreinigung</a>

                                    <a href="../rohrbruch/">
                                        <orange>&check;</orange> Rohrbruch Notdienst</a>

                                    <a href="../heizungsausfall/">
                                        <orange>&check;</orange> Heizungsausfall</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Separator ganz oben in css-->
                    <div class="grid_item4">
                        <div class="grid_item4_teme3_stage2 grid_item4_teme3_korrektur">
                            <h3>So erkennen Sie einen
                                <orange>Wasserschaden</orange>
                            </h3>
                            <div class="liste_lo">
                                <ol>
                                    <li class="liste_font">Sie haben feuchte Wände in Ihrem Zuhause.</li>
                                    <li class="liste_font">Sie entdecken große Schimmelstellen an der Wand oder Decke.</li>
                                    <li class="liste_font">Sie haben Wasser im Keller.</li>
                                </ol>
                            </div>
                            <div>
                                <p>Wenn einer dieser Punkte zutrifft zögern Sie nicht einen Wasserschaden Notdienst anzurufen oder bitten Sie einen Wasserinstallateur um Hilfe.
                                </p>
                                <p>Bei einem Wasserschaden zählt jede Sekunde, um schlimmere Schäden zu vermeiden. Sorgen Sie wieder für ein angenehmes Wohngefühl und lassen Sie sich von professionellen Klempnern helfen.
                                </p>
                                <h3>Zählen Sie auf
                                    <orange>kompetente Mitarbeiter:</orange>
                                </h3>
                                <div class="liste_lo">
                                    <ol>
                                        <li class="liste_font">Der Sanitär Service arbeitet flexibel und kompetent.</li>
                                        <li class="liste_font">Die Wasserinstallateure versorgen Ihr Gebäude mit Leitungen und installieren Ihre Geräte neu.</li>
                                    </ol>
                                </div>
                                <p>Sparen Sie sich Zeit und Geld und wenden Sie sich rechtzeitig an einen Fachmann.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=====SEPARATOR Anfang =====-->
                <!--Separator ganz oben in css-->
                <section class="separator ">
                    <div></div>
                    <div class="separator_item">
                        <p>Versteckte Kosten gibt es bei Heizung defekt nicht.</p>
                        <a class="not_top" href="tel:015904355423"><i class="fa fa-phone"></i> 0159-04355423</a>
                    </div>
                    <div></div>
                </section>

                <section>
                    <div class="grid_item4">
                        <div class="grid_item4_teme4_stage3">
                            <h2>Was tun bei Wasserschaden
                                <orange>in der Wohnung?</orange>
                            </h2>

                            <p>Stellen Sie die Wasserzufuhr ab<br> Schließen Sie den betroffenen Absperrhahn, um den Schaden so gering wie möglich zu halten. Lässt sich der betroffene Absperrhahn nicht schließen, drehen Sie den Hauptwasserhahn ab.</p>
                            <p>Unterbrechen Sie die Stromzufuhr<br>Vermeiden Sie einen Kurzschluss und dadurch entstehende Brände und schalten Sie den Strom für den betroffenen Bereich aus. Hierfür legen Sie die Sicherung um.</p>
                            <p>Beseitigen Sie das Wasser<br> Entfernen Sie das Wasser so schnell es geht, damit Sie weitere Schänden vermeiden. Wenn das Wasser bereits sehr hoch ansteigt rufen Sie direkt einen Fachmann.</p>
                            <p>Passen Sie auf Ihre Einrichtung auf<br> Entfernen Sie Ihre Wertsachen wie Teppiche, Schränke und elektrische Geräte aus dem durchnässten Bereich. Wenn das Wasser aus der Decke tropft decken Sie Ihr Hab und Gut mit Folien ab.
                            </p>
                            <p>Setzen Sie einen Notruf beim Wasserschaden Notdienst ab<br>Die Mitarbeiter sind schnell zur Stelle und kümmern sich um Ihr Problem.</p>

                        </div>

                    </div>
                </section>
                <section>
                    <div class="grid_item4">
                        <div class="grid_item4_teme4_stage3">
                            <h2>Wie entstehen Wasserschäden?
                                <orange>Die Ursachen von Wasserschaden</orange>
                            </h2>
                            <ol class="liste_li liste_font">
                                <li>Wasserschaden durch Regen
                                    <p>Ein Wasserschaden, der durch Regen entsteht, ist oftmals selbst verschuldet vom Besitzer des Hauses oder der Wohnung. Sofern geschlossene Fenster, Türen oder Decken nicht undicht sind dringt Wasser nur durch geöffnete
                                        Türen oder Fenster in den Wohnraum.</p>
                                </li>
                                <li> Wasserschaden durch die Waschmaschine
                                    <p>
                                        Ihre Waschmaschine kann für einen Wasserschaden verantwortlich sein. wenn sie einen technischen Defekt hat. Auch andere Geräte, wie die Spülmaschine oder ein undichter Boiler verursachen Wasserschaden, wenn Sie kaputt sind.
                                    </p>
                                </li>
                                <li>Wasserrohrbruch
                                    <p>Einen Wasserschaden nach einem Rohrbruch erkennen Sie besonders gut daran, dass Sie vermehrt Wasserflecken an den Wänden haben. Auch ein deutlich höherer Wasserverbrauch spricht für einen Wasserrohrbruch. Sind Sie sich
                                        immer noch unsicher überprüfen Sie Ihre Wasseruhr. Eine Wasseruhr dreht sich jedes Mal, wenn Wasser läuft. Dreht Sie sich obwohl Sie aktiv kein Wasser laufen haben ist das oft ein Zeichen für einen Wasserrohrbruch.
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </section>
                <!--=====SEPARATOR Anfang =====-->
                <!--Separator ganz oben in css-->
                <section class="separator ">
                    <div></div>
                    <div class="separator_item">
                        <p>Wasserschaden in der Wohnung? Jetzt Kontakt aufnehmen.</p>
                        <a class="not_top" href="tel:015904355423"><i class="fa fa-phone"></i> 0159-04355423</a>
                    </div>
                    <div></div>
                </section>

                <section>
                    <div class="grid_item4">
                        <div class="grid_item4_teme4_stage3">
                            <h3>Wichtige Hinweise damit Sie
                                <orange>einen Wasserschaden verhindern</orange>
                            </h3>

                            <p>Assen Sie Ihre Haushaltsgeräte wie die Waschmaschine oder Spülmaschine nur laufen, wenn Sie zu Hause sind. Warten Sie sicherheitshalber, bevor Sie gehen, bis Ihre Geräte fertig sind.</p>
                            <p>Lassen Sie Ihre Haushaltsgeräte wie die Waschmaschine oder Spülmaschine nur laufen, wenn Sie zu Hause sind. Warten Sie sicherheitshalber, bevor Sie gehen, bis Ihre Geräte fertig sind.</p>
                            <p>Sichern Sie außerdem Ihre Rohre im Winter zusätzlich mit einer Isolierung. Das schützt vor Frost und vor daraus entsehnenden Schäden an den Rohren.</p>

                        </div>
                    </div>
                </section>
                <section>
                    <div class="grid_item4">
                        <div class="grid_item4_teme4_stage3">
                            <h4>Wasserschaden: Was kann ich geltend machen?
                                <orange>Tipps zu Wasserschaden-Versicherungen</orange>
                            </h4>
                            <p>Bei einem Wasserschaden kommen einige Kosten auf Sie zu. Dennoch müssen Sie keine Angst haben auf den Kosten sitzen zu bleiben. Es gibt einige Versicherungen, die Ihnen Entschädigungen bei Wasserschaden im Eigenheim anbieten.
                            </p>

                            <p>Schäden an den eigenen Möbeln übernimmt die Hausratversicherung Die Hausratversicherung zahlt für Schäden durch Leitungswasser. Hierzu zählt: ein Rohrbruch, ein Leck an der Waschmaschine und austretendes Wasser aus der Klimaanlage.
                                <br>Ihre Badewanne läuft über? Es gibt Rückstau in der Kanalisation? Diese werden von der Hausratversicherung nicht übernommen.</p>
                            <p>Schaden an Ihrem Gebäude übernimmt die Gebäudeversicherung. Schäden, die unter anderem an der Bodendämmung, am Laminat, an der Heizungs- und Sanitäranlage entstehen übernimmt die Gebäudeversicherung
                                <br>Lagern Sie fremde Möbel oder der Wasserschaden ist in einem fremden Gebäude entstanden? Dann zahlt Ihre Privathaftpflichtversicherung.
                            </p>
                            <p>Haben Sie einen unverschuldeten Wasserschaden aufgrund von Hochwasser, Rückstau oder Starkregen haben übernimmt die Elementarversicherung.<br>Die Elementarversicherung zahlt bei Schäden, die durch Naturereignisse entstehen.
                                Darunter fallen unter anderem Starkregen oder Hochwasser. <br> Diese Versicherung lohnt es sich vor allem dann abzuschließen, wenn Sie in einem Hochwassergebiet oder einem Lawinengebiet wohnen.
                            </p>

                            <h4>Eine wichtige Ausnahme bei
                                <orange>Wasserschaden durch Regen</orange>
                            </h4>
                            <p>Die Versicherung übernimmt bei Starkregen die Kosten nur dann, wenn Sie nicht für das Eindringen des Regens verantwortlich sind. Wenn Sie Ihre Fenster und Türen während eines Sturms oder eines Regenwetters offen lassen zahlt
                                keine Versicherung.</p>
                            <p> Achten Sie daher immer darauf Ihre Fenster und Türen bei dem Verlassen Ihres Hauses oder Ihrer Wohnung zu schließen. Decken Sie außerdem Öffnungen oder Schächte an Ihrem Haus ab und verhindern Sie so eine Überschwemmung.
                            </p>
                        </div>
                    </div>
                </section>


        </div>
        </section>
        <section class="city">

            <div class="city_link">
                <a href="../berlin/heizung-notdienst-berlin/">Berlin</a>
                <a href="../rostock/heizung-notdienst-rostock/">Rostock</a>
                <a href="../hamburg/heizung-notdienst-hamburg/">Hamburg</a>
                <a href="../kiel/heizung-notdienst-kiel/">Kiel</a>
                <a href="../dresden/heizung-notdienst-dresden/">Dresden</a>
                <a href="../bremen/heizung-notdienst-bremen/">Bremen</a>
                <a href="../hannover/heizung-notdienst-hannover/">Hannover</a>
                <a href="../dortmund/heizung-notdienst-dortmund/">Dortmund</a>
                <a href="../duesseldorf/heizung-notdienst-duesseldorf/">Düsseldorf</a>
                <a href="../koeln/heizung-notdienst-koeln/">Köln</a>
                <a href="../bonn/heizung-notdienst-bonn/">Bonn</a>
                <a href="../leipzig/heizung-notdienst-leipzig/">Leipzig</a>
                <a href="../frankfurt-am-main/heizung-notdienst-frankfurt-am-main/">Frankfurt am Main</a>
                <a href="../mannheim/heizung-notdienst-mannheim/">Mannheim</a>
                <a href="../stuttgart/heizung-notdienst-stuttgart/">Stuttgart</a>
                <a href="../augsburg/heizung-notdienst-augsburg/">Augsburg</a>
                <a href="../nuernberg/heizung-notdienst-nuernberg/">Nürnberg</a>
                <a href="../muenchen/heizung-notdienst-muenchen/">München</a>

            </div>

        </section>
        <!--===Container 5===-->
        <div class="container5" id="preis">
            <p id="cont5_title">Was kostet der Heizungsnotdienst?</p>
            <div class="preis_no_display">
                <div class="preis_intervention preis_li_title">
                    <p>Die Kosten des Heizungsnotdienstes können nicht pauschal formuliert werden. Die Kosten variieren dafür zu stark je nach Faktoren des Auftrages.</p>
                    <ul>
                        <li>
                            Auftragsort
                        </li>
                        <p>
                            Liegt der Auftragsort in der Nähe der Firma und damit in der Nähe des ausgebildeten Monteurs, halten sich die Anfahrtskosten gering. </p>
                        <li>
                            Auftragsaufgabe
                        </li>
                        <p>Hierbei ist auch stark zwischen den verschiedenen Aufgaben zu unterscheiden. So setzt eine fachmännische Wartung kein spezielles Werkzeug, Wissen oder längere Dauer des Auftrages voraus. Im Gegensatz dazu muss man bei einer defekten
                            Heizung oder einem Leck in einem der Rohre zuerst das Problem und die Problemstelle finden.
                        </p>
                        <p>Hier muss der Techniker möglicherweise einige spezielle Werkzeuge wie eine mobile Kamera und Messgeräte mitnehmen, um das Problem zu orten. Anschließen muss das Rohr ausgebaut und ein neues eingebaut werden. </p>
                        <p> Sollte seit dem Auftreten des Lecks und der Behebung des Lecks durch den Fachmann ein Wasserschaden entstanden sein, muss der Profi eine Bauwerkstrocknung vornehmen.
                        </p>
                        <li>
                            Art der Heizung
                        </li>
                        <p>Bei der Art der Heizung geht es darum, wie und wo die Heizung im Heizraum verbaut ist. Ebenfalls ist wichtig, um welches Modell es sich handelt. Ist die Heizanlage speziell darauf ausgerichtet klein und platzsparend zu sein, braucht
                            der Monteur länger, um die Aufgabe zu erledigen. </p>
                        <li>
                            Dauer des Auftrages
                        </li>
                        <p>In die Dauer des Auftrages spielen die oben genannten Punkte stark mit ein. Umso leichter das Problem ist, umso weniger Zeit braucht der ausgebildete Fachmann auch um das zu beheben. Da die Faktoren aber individuell sehr unterschiedlich
                            sind, kann man keine pauschale Aussage über die Kosten treffen. </p>
                        <li>Ersatzteile</li>
                        <p>Platzen Rohre oder gehen Ventile und Druckmessgeräte kaputt, muss ein Techniker diese ersetzten. Dabei kommt es auf das Alter des jeweiligen defekten Gerätes an und auf die Art der Anlage.</p>
                        <p> Manche Ersatzteile sind günstiger und leichter zu bestellen als andere. Sollte die Anlage besonders alt sein, sind Ersatzteile möglicherweise nicht mehr erhältlich. Auch das fließt in die Preisberechnung mit ein.
                        </p>
                        <li>
                            Datum
                        </li>
                        <p>Ebenfalls spielt es eine große Rolle, wann der Handwerker Ihr Problem lösen soll. An Sonn- und Feiertagen sowie nachts schreibt die Gesetzgebung vor, dass die Firma den Arbeitern einen Zuschlag auf die Arbeitszeit berechnet.</p>
                    </ul>
                </div>
                <div class="preis_intervention">
                    <p>Um unseriöse oder überteuerte Angebote oder Dienstleister zu verhindern, sollten Sie einige Sachen beachten. Mittlerweile präsentieren sich viele Betrüger ohne spezifisches Fachwissen als ausgebildete Techniker, die Ihr Problem im
                        Nu lösen. Ohne das notwendige Fachwissen, richtet man jedoch schnell Schaden an den Anlagen an.
                    </p>
                    <p>Diese unseriösen Techniker verlangen meist Wucherpreise und eine Zahlung dieser Vorab oder sofort im Anschluss des Auftrages. Damit Sie sich selbst schützen, beachten Sie einige Ratschläge zur Zahlung des Auftrages:
                    </p>
                    <ul>
                        <li>Fragen Sie vorab <a href="tel:0941000000">telefonisch nach einem Kostenvoranschlag</a> </li>
                        <li>Ist die Rechnung ungewöhnlich hoch, zahlen Sie diese weder bar noch vorab. </li>
                        <li>Haken Sie in diesem Fall lieber nochmal nach oder wenden sich an die Verbraucherzentrale. Diese hilft in Verdachtsfällen auf Betrug. Warten Sie in einem solchen Fall die Zahlung der Rechnung ab. </li>
                    </ul>
                </div>
                <div class="preis_intervention betrug">
                    <p>Nützliche Hinweise auf Betrüger erkennt man vorab auf der entsprechenden Website: </p>
                    <ul>
                        <li>Der Sitz und Name des Unternehmens müssen im Impressum ausdrücklich stehen </li>
                        <li>Rechtlich korrekte Rechnungen weisen eine detaillierte Aufzählung der Dienstleistung auf</li>
                        <li>Ebenfalls muss die Steuernummer auf der Rechnung zu finden sein </li>
                    </ul>
                    <p>Haben Sie Fragen oder wünschen Sie eine Beratung zu den Kosten oder einen Kostenvoranschlag, rufen Sie unsere Hotline jederzeit an. Dann kann Ihnen ein Kundenberater am Telefon oder ein Monteur vor Ort die ungefähren Kosten mitteilen.
                        Gegeben falls holen Sie sich bei Bedarf einen Kostenvoranschlag ein. </p>
                </div>
            </div>

        </div>
        <!--Weitere Infos-->
</body>
<footer>
    <div class="footer_not_hidden">
        <div class="footer_sub">
            <div class="footer_division">
                <div id="footer_division_sub">
                    <a href="./">
                        <img class="footer_logo" src="../asset/logo/heitzung_defekt_logo3_nonColor.png" alt="Heizung defekt logo 24H Für Sie da!">
                    </a>
                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="../service/">Service</a>
                    <a class="footer_service" href="../heizungsausfall/">Heizungsausfall</a>
                    <a class="footer_service" href="../rohrreinigung_notdienst/">Rohrreinigung Notdienst</a>
                    <a class="footer_service" href="../wasserschaden_notdienst/">Wasserschaden Notdienst</a>
                    <a class="footer_service" href="../heizungsinstallation/">Installation</a>
                    <a class="footer_service" href="../klempner_service/">Klempnerarbeiten</a>
                    <a class="footer_service" href="../professionelle_heizungswartung/">Wartungen</a>

                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="../ueber_uns/">Über uns</a>
                    <a class="footer_service" href="../datenschutz/">Datenschutz</a>
                    <a class="footer_service" href="../impressum/">Impressum</a>
                    <a class="footer_service" href="../kontakt/">Kontakt</a>
                    <a class="footer_service" href="../karriere/">Job & Karriere</a>
                    <a class="footer_service" href="../faq/">FAQ</a>
                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="../kontakt/">Kontakt</a>
                    <a class="footer_service" href="tel:015904355423">✆ 0159-04355423</a>
                    <a class="footer_service" href="mailto:info@heizung-defekt.de">📧 info@heizung-defekt.de</a>
                </div>
            </div>
        </div>
    </div>
    <div class="luecke"></div>
</footer>
<div class="telefon_footer_hidden">
    <a href="tel:015904355423">
        <p>0159-04355423</p>
    </a>
    <div></div>
</div>
<!--cookies-->
<div id="footer-cookie">
    <red id="description">
        Wir nutzen Cookies, um unsere Dienste zu erbringen und zu verbessern. Mit Nutzung dieser Seite akzeptieren Sie Cookies. <a href="../impressum/">Mehr erfahren</a>
    </red>
    <red id="accept"><a href="javascript:void(0)" title="Akzeptieren">Akzeptieren</a></red>
</div>

<!--script-->
<script src="../asset/js/heizung-defekt.js" type="text/javascript"></script>

</html>
