<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="../asset/icon/favicon.png">
    <link rel="stylesheet" href="../asset/css-datei/heizung-defekt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Heizung-Defekt Kontakt</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134725552-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-134725552-6');
    </script>
</head>

<body class="body_menu_config">

    <!--============MENÜ===========-->
    <section class="container1">
        <div class="logo">
            <a href="../" class="logo">
                <img src="../asset/logo/heitzung_defekt_logo3.png" alt="Logo von Heizung defekt">
            </a>
        </div>
        <div class="tel_top">
            <a href="tel:015904355423" class="tel_top_bar"><i class="fa fa-phone"></i> 0159-04355423</a>
            <a href="mailto:info@heizung-defekt.de" class="mail_top_bar"><i class="fa fa-envelope"> info@heizung-defekt.de</i></a>
        </div>
        <div class="menu_hidden" onclick="menu_function()">
            <div class="hidden_menu_hover">

                <div class="menu_top menu_top_no_display">
                    <a href="../kontakt/">Kontakt</a>
                    <a href="../service/">Service</a>
                    <a href="#preis">Preise</a>
                    <a href="../ueber_uns/">Über uns</a>
                    <a href="../">Start</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section_top_support">

    </section>
    <section class="top_support_deco"></section>
    <section class="datenschutz">
        <p class="datenschutz_titel">Impressum</p>
        <p>Angaben gemäß § 5 TMG:</p>
        <p>www.heizung-defekt.de -  ist ein Vermittlungsservice in Kooperation mit:</p>
            <p>Renner GmbH</p>
            <p>Im Gewerbepark A 10</p>
            <p>93059 Regensburg</p>
            <br>
            <p>Vertreten durch:</p>
            <p>Melanie Renner</p>
            <br>
            <p>Kontakt:</p>
            <p>Telefon: 0941 942 398 00</p>
            <p>E-Mail: service@gmbh-renner.de</p>
            <br>
            <p>Registereintrag:</p>
            <p>Registergericht: Amtsgericht Regensburg</p>
            <p>Registernummer: HRB 17863</p>
            <br>
            <p>Umsatzsteuer-ID:</p>
            <p>Umsatzsteuer-Identifikationsnummer:</p>
            <p>DE331191694</p>
            <br>
            <p>Angaben gemäß § 5 TMG:</p>
            <p>Administrator, inhaltlich Verantwortlicher und Eigentümer dieser </p>
            <p>www.heizung-defekt.de</p>
            <p>09 Media GmbH</p>
            <p>Geschäftsführer: Michael Simmendinger</p>
            <p>Im Gewerbepark A10</p>
            <p>93059 Regensburg</p>
            <br>
            <p>Telefon: 0941 942 399 09</p>
            <p>E-Mail: info@09media.de</p>
            <p>Web: www.09media.de</p>
        <p>Haftungsausschluss:</p>
        <p>Haftung für Inhalte<br><br> Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1
            TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach
            Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch
            erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        <p>Haftung für Links<br><br> Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten
            ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
            Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
        <p>Urheberrecht<br><br> Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
            bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt
            wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden
            von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
    </section>

    <!--search-->
    <section class="city">
        <div class="city_link">
            <a href="../berlin/heizung-berlin/">Berlin</a>
            <a href="../rostock/heizung-rostock/">Rostock</a>
            <a href="../hamburg/heizung-berlin/">Hamburg</a>
            <a href="../kiel/heizung-kiel/">Kiel</a>
            <a href="../dresden/heizung-dresden/">Dresden</a>
            <a href="../bremen/heizung-dresden/">Bremen</a>
            <a href="../hannover/heizung-hannover/">Hannover</a>
            <a href="../dortmund/heizung-dortmund/">Dortmund</a>
            <a href="../duesseldorf/heizung-duesseldorf/">Düsseldorf</a>
            <a href="../koeln/heizung-koeln/">Köln</a>
            <a href="../bonn/heizung-bonn/">Bonn</a>
            <a href="../leipzig/heizung-leipzig/">Leipzig</a>
            <a href="../frankfurt-am-main/heizung-frankfurt-am-main/">Frankfurt am Main</a>
            <a href="../mannheim/heizung-mannheim/">Mannheim</a>
            <a href="../stuttgart/heizung-stuttgart/">Stuttgart</a>
            <a href="../augsburg/heizung-augsburg/">Augsburg</a>
            <a href="../nuernberg/heizung-nuernberg/">Nürnberg</a>
            <a href="../muenchen/heizung-muenchen/">München</a>

        </div>

    </section>
    <!--===Container 5===-->
    <div class="container5" id="preis">
        <p id="cont5_title">Was kostet der Heizungsnotdienst?</p>
        <div class="preis_no_display">
            <div class="preis_intervention preis_li_title">
                <p>Die Kosten des Heizungsnotdienstes können nicht pauschal formuliert werden. Die Kosten variieren dafür zu stark je nach Faktoren des Auftrages.</p>
                <ul>
                    <li>
                        Auftragsort
                    </li>
                    <p>
                        <orange>Liegt der Auftragsort</orange> in der Nähe der Firma und damit in der Nähe des ausgebildeten Monteurs, halten sich die Anfahrtskosten gering. </p>
                    <li>
                        Auftragsaufgabe
                    </li>
                    <p>Hierbei ist auch stark
                        <orange>zwischen den verschiedenen Aufgaben</orange> zu unterscheiden.<br> So setzt eine fachmännische Wartung kein spezielles Werkzeug, Wissen oder längere Dauer des Auftrages voraus. Im Gegensatz dazu muss man bei einer defekten Heizung
                        oder einem Leck in einem der Rohre zuerst das Problem und die Problemstelle finden.
                    </p>
                    <p>Hier muss der Techniker möglicherweise einige
                        <orange>spezielle Werkzeuge</orange> wie eine mobile Kamera und Messgeräte mitnehmen, um das Problem zu orten. Anschließen muss das Rohr ausgebaut und ein neues eingebaut werden. <br> Sollte seit dem Auftreten des Lecks und der Behebung
                        des Lecks durch den Fachmann ein Wasserschaden entstanden sein, muss der Profi eine Bauwerkstrocknung vornehmen.
                    </p>
                    <li>
                        Art der Heizung
                    </li>
                    <p>Bei der Art der Heizung geht es darum, wie und wo die Heizung im Heizraum verbaut ist. Ebenfalls ist wichtig, um welches Modell es sich handelt. Ist die Heizanlage speziell darauf ausgerichtet klein und platzsparend zu sein, braucht
                        der Monteur länger, um die Aufgabe zu erledigen. </p>
                    <li>
                        Dauer des Auftrages
                    </li>
                    <p>In die Dauer des Auftrages spielen die oben genannten Punkte stark mit ein. Umso leichter das Problem ist, umso weniger Zeit braucht der ausgebildete Fachmann auch um das zu beheben. Da die Faktoren aber individuell sehr unterschiedlich
                        sind, kann man keine pauschale Aussage über die Kosten treffen. </p>
                    <li>Ersatzteile</li>
                    <p>In die Dauer des Auftrages spielen die oben genannten Punkte stark mit ein. Umso leichter das Problem ist, umso weniger Zeit braucht der ausgebildete Fachmann auch um das zu beheben. Da die Faktoren aber individuell sehr unterschiedlich
                        sind, kann man keine pauschale Aussage über die Kosten treffen. </p>
                    <li>
                        Datum
                    </li>
                    <p>Ebenfalls spielt es eine große Rolle, wann der Handwerker Ihr Problem lösen soll. An Sonn- und Feiertagen sowie nachts schreibt die Gesetzgebung vor, dass die Firma den Arbeitern einen Zuschlag auf die Arbeitszeit berechnet.</p>
                </ul>
            </div>
            <div class="preis_intervention">
                <p>Um unseriöse oder überteuerte Angebote oder Dienstleister zu verhindern, sollten Sie einige Sachen beachten.<br> Mittlerweile präsentieren sich viele Betrüger ohne spezifisches Fachwissen als ausgebildete Techniker, die Ihr Problem im
                    Nu lösen. Ohne das notwendige Fachwissen, richtet man jedoch schnell Schaden an den Anlagen an.
                </p>
                <p>Diese unseriösen Techniker verlangen meist Wucherpreise und eine Zahlung dieser Vorab oder sofort im Anschluss des Auftrages. <br> Damit Sie sich selbst schützen, beachten Sie einige Ratschläge zur Zahlung des Auftrages:
                </p>
                <ul>
                    <li>Fragen Sie vorab <a href="tel:0941000000">telefonisch nach einem Kostenvoranschlag</a> </li>
                    <li>Ist die Rechnung ungewöhnlich hoch, zahlen Sie diese weder bar noch vorab. </li>
                    <li>Haken Sie in diesem Fall lieber nochmal nach oder wenden sich an die Verbraucherzentrale. Diese hilft in Verdachtsfällen auf Betrug. Warten Sie in einem solchen Fall die Zahlung der Rechnung ab. </li>
                </ul>
            </div>
            <div class="preis_intervention betrug">
                <p>Nützliche Hinweise auf Betrüger erkennt man vorab auf der entsprechenden Website: </p>
                <ul>
                    <li>Der Sitz und Name des Unternehmens müssen im Impressum ausdrücklich stehen </li>
                    <li>Rechtlich
                        <orange>korrekte Rechnungen weisen</orange> eine detaillierte Aufzählung der Dienstleistung auf</li>
                    <li>Ebenfalls muss die Steuernummer auf der Rechnung zu finden sein </li>
                </ul>
                <p>Haben Sie Fragen oder wünschen Sie eine Beratung zu den Kosten oder einen Kostenvoranschlag, rufen Sie unsere Hotline jederzeit an. Dann kann Ihnen ein Kundenberater am Telefon oder ein Monteur vor Ort die ungefähren Kosten mitteilen.
                    Gegeben falls holen Sie sich bei Bedarf einen Kostenvoranschlag ein. </p>
            </div>
        </div>

    </div>
    <!--Weitere Infos-->
</body>
<footer>
    <div class="footer_not_hidden">
        <div class="footer_sub">
            <div class="footer_division">
                <div id="footer_division_sub">
                    <a href="./">
                        <img class="footer_logo" src="../asset/logo/heitzung_defekt_logo3_nonColor.png" alt="">
                    </a>
                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="../service/">Service</a>
                    <a class="footer_service" href="../heizungsausfall/">Heizungausfall</a>
                    <a class="footer_service" href="../warum_fallt_heizung_aus/">Warum fällt Heizung aus?</a>
                    <a class="footer_service" href="../wasserschaden_notdienst/">Wasserschaden</a>
                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="../ueber_uns/">Über uns</a>
                    <a class="footer_service" href="../datenschutz/">Datenschutz</a>
                    <a class="footer_service" href="./">Impressum</a>
                    <a class="footer_service" href="../kontakt/">Kontakt</a>
                    <a class="footer_service" href="../karriere/">Job & Karriere</a>
                    <a class="footer_service" href="../faq/">FAQ</a>
                </div>
                <div class="footer_division_sub">
                    <a class="footer_title" href="../kontakt/">kontakt</a>
                    <a class="footer_service" href="tel:015904355423">0159-04355423</a>
                    <a class="footer_service" href="mailto:info@heizung-defekt.de">info@heizung-defekt.de</a>
                </div>
            </div>
        </div>
    </div>
    <div class="luecke"></div>
</footer>
<div class="telefon_footer_hidden">
    <a href="tel:015904355423">
        <p>0159-04355423</p>
    </a>
    <div></div>
</div>
<!--cookies-->
<div id="footer-cookie">
    <red id="description">
        Wir nutzen Cookies, um unsere Dienste zu erbringen und zu verbessern. Mit Nutzung dieser Seite akzeptieren Sie Cookies. <a href="../datenschutz/">Mehr erfahren</a>
    </red>
    <red id="accept"><a href="javascript:void(0)" title="Akzeptieren">Akzeptieren</a></red>
</div>
<!--script-->
<script src="../asset/js/heizung-defekt.js" type="text/javascript"></script>

</html>
